@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
}

#screen {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1.0s;
}

#screen.dark-mode {
    background-color: rgb(32, 32, 32);
}

#screen.light-mode {
    background-color: white;
}

.bottom-text {
    padding-top: 30px;
    font-size: 1.4rem;
}

.bottom-text.dark-mode {
    color: rgba(255,255,255,0.1);
}

.bottom-text.light-mode {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

#container {
    width: 600px;
    height: 700px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 92%;
}

#dots-selector {
    flex-basis: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    margin-left: 8px;
    border-radius: 25px;
    background-color: rgba(214, 214, 214, 0.2);
    cursor: pointer;
}

.dot.active {
    background-color: rgba(214, 214, 214, 0.9);
}

#container.dark-mode {
    transition: 0.5s;
    background-image: url(./images/redwoods.jpg);
    background-size: cover;
    box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.5) inset, 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

#container.light-mode {
    transition: 0.5s;
    background-image: url(./images/brightnature.jpg);
    background-size: cover;
    box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.3) inset, 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

#container:hover.dark-mode {
    box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.5) inset, 0 0 15px 25px rgba(0, 0, 0, 0.2);
}

#container:hover.light-mode {
    box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.4) inset, 0 0 25px 25px rgba(0, 0, 0, 0.2);
}




.content.dark-mode {
    transition: 0.5s;
    color: white;
}

.content.light-mode {
    transition: 0.5s;
    color: white;
}

.search-box {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 25px 0 25px 0;
    padding: 0 25px;
    font-size: 18px;
    transition: 0.5s;
}

.search-box.dark-mode {
    background-color: rgba(63, 62, 62, 0.4);
    color: white;
}

.search-box.light-mode {
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
    color: white;
}

.search-box:focus {
    outline: none;
}

.city {
    padding-top: 25px;
    font-size: 60px;
    font-weight: bold;
}

.desc {
    padding: 20px 0;
    font-size: 48px;
    text-shadow: 2px 5px 25px white;
    text-align: center;
}

.date {
    font-size: 24px;
}

.temp {
    padding: 20px 0;
    font-size: 102px;
    text-shadow: 2px 5px 25px white;
}

.status {
    font-size: 40px;
}

#container:hover .temp {
    -webkit-transform: scale(1.2);
}

#settings {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 200px;
    height: 230px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#settings.dark-mode {
    background-color: rgba(65, 63, 63, 0.2);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

#settings.light-mode {
    background-color: rgba(214, 214, 214, 0.8);
    box-shadow: 0 0 15px 5px rgba(214, 214, 214, 0.7);
    
}

#settings:hover .settings-title {
    opacity: 0.8;
}

.settings-title {
    font-size: 24px;
    transition: 0.5s;
}

.settings-title.dark-mode {
    color: white;
    opacity: 0.4;
}

.settings-title.light-mode {
    color: black;
    font-weight: 700;
    opacity: 0.6;
}

.filter {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left, .right {
    flex-basis: 45%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.left.dark-mode, .right.dark-mode {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.left.light-mode, .right.light-mode {
    background-color: rgba(211, 211, 211, 0.6);
    color: rgba(17, 17, 17, 0.8);
    font-weight: 700;
}

.left {
    border-radius: 10px 0 0 10px;
}

.right {
    border-radius: 0 10px 10px 0;
}

.active.dark-mode {
    box-shadow: 0 0 15px 1px rgba(39, 39, 39, 0.8) inset;
    cursor: default;
}

.active.light-mode {
    box-shadow: 0 0 15px 1px rgba(109, 109, 109, 0.3) inset;
}
